* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiko", serif;
}

:root {
  --color-bg: #212121;
  --color-blue-500: #003b78;
  --color-blue-600: rgba(0, 59, 120, 0.5);
  --color-blue-700: #081c69;
  --color-blue-accent: #08f;
  --color-red-400: #eb3642;
  --color-red-accent: #ff383c;
  --color-red-500: #ff4340;
  --color-red-700: rgba(235, 54, 66, 0.3);
  --color-error: #ec221f;
  --color-cyan: #00c0e8;
  --color-orange: #ff8d28;
  --color-violet: #a31287;
  --color-success: #14ae5c;
  --color-grey: #767676;
  --color-lightgrey: #e0e0e0;
  --color-yellow: #fc0;
}

/* Globa Styles */
body {
  background: var(--color-bg);
  color: white;
}
p {
  color: white;
}
.bg-grey {
  background: var(--color-grey);
}
.bg-cyan {
  background: var(--color-cyan);
}
.bg-violet {
  background: var(--color-violet);
}
.bg-green {
  background: var(--color-success);
}
.bg-orange {
  background: var(--color-orange);
}
.bg-blue {
  background: var(--color-blue-500);
}
.bg-blue-700 {
  background: var(--color-blue-700);
}
.bg-blue-accent {
  background: var(--color-blue-accent);
}
.bg-lightgrey {
  background: var(--color-lightgrey);
}
.bg-yellow {
  background: var(--color-yellow);
}
.bg-red-accent {
  background: var(--color-red-accent);
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-30 {
  font-size: 30px !important;
}
.text-32 {
  font-size: 32px !important;
}
.text-36 {
  font-size: 36px !important;
}
.text-38 {
  font-size: 38px !important;
}
.text-40 {
  font-size: 40px !important;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1 1 100%;
  &.with-image-bg {
    background: url("../images/central-title-bg.png") center / cover no-repeat;
  }
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.list__item {
  display: flex;
  border-radius: 32px;
  padding: 10px 14px;
  gap: 12px;
  align-items: center;
  @media (width <= 1450px) {
    padding: 8px 12px;
  }
  @media (height <= 900px) {
    padding: 8px 12px;
  }
  p {
    font-size: 30px;
    color: white;
    @media (width <= 1450px) {
      font-size: 20px;
    }
    @media (height <= 900px) {
      font-size: 20px;
    }
  }
}
.timer {
  padding: 8px 16px;
  border-radius: 29px;
  display: flex;
  align-items: center;
  gap: 14px;
  border: 2px solid var(--color-light-blue);
  img {
    width: 50px;
  }
}
.time {
  font-size: 54px;
  font-weight: 700;
  @media (width <= 992px) {
    font-size: 32px;
  }
  @media (height <=900px) {
    font-size: 32px;
  }
}

/* Marquee */
.marquee {
  --gap: 60px;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  list-style: none;
  margin-top: -70px;
}
.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
}
.marquee__item {
  color: white;
  font-size: 38px;
  list-style: none;
  font-weight: 400 !important;
  @media (width <= 1450px) {
    font-size: 32px;
  }
  @media (height <= 900px) {
    font-size: 32px;
  }
}

.marquee__content-left {
  animation: 20s scrollToLeft infinite linear;
}
.marquee__content-right {
  animation: 20s scrollToRight infinite linear reverse;
}
@keyframes scrollToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes scrollToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* ========================= Styles ==================================== */
/* Central Title Page */
.main__page {
  margin: 32px;
  border-radius: 32px;
  width: 100%;
}
.main__page-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.meetmax__logo {
  display: flex;
  justify-content: flex-end;
}
.meetmax__logo img {
  width: 80%;
  @media (width <= 1450px) {
    margin-left: auto;
  }
  @media (height <= 900px) {
    margin-left: auto;
  }
}
.desco__logo img {
  width: 80%;
}
.main__page-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
  margin-top: 46px;
}
.merket__logo {
  @media (width <= 1450px) {
    width: 440px;
  }
  @media (height <= 900px) {
    width: 440px;
  }
}
.qr__big {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
  border-radius: 32px;
  text-decoration: none;
}
.qr__img {
  @media (width <= 1450px) {
    width: 340px;
  }
  @media (height <= 900px) {
    width: 340px;
  }
}
.qr__text {
  font-size: 36px;
  line-height: normal;
  font-weight: 700;
  @media (width <= 1450px) {
    font-size: 32px;
  }
  @media (height <= 900px) {
    font-size: 32px;
  }
}

/* Inner Stock Market */
.inner__page {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.inner__page-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 16px 96px;
  @media (width <= 1600px) {
    padding: 16px 40px;
  }
}

.header__title {
  font-size: 64px;
  color: var(--color-light-blue);
  flex: 1 1 100%;
  text-align: center;
  justify-self: center;
  @media (width <= 1600px) {
    font-size: 44px;
  }
  @media (height <= 900px) {
    font-size: 48px;
  }
  @media (width <= 992px) {
    font-size: 38px;
  }
}
.qr__small {
  display: flex;
  gap: 32px;
  flex-shrink: 0;
  text-decoration: none;
  justify-self: end;
  align-items: center;
  @media (width <= 992px) {
    gap: 16px;
  }
}
.qr__small-info {
  max-width: 184px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.qr__small-image {
  width: 99px;
  aspect-ratio: 1/1;
}
.qr__small-text {
  font-size: 18px;
  text-align: right;
  line-height: normal;
  font-weight: 700;
}
.qr__small-title {
  font-size: 24px;
}
.inner__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1207px;
  gap: 100px;
  margin: 0 auto;
  margin-top: 80px;
  @media (width <= 1600px) {
    margin-top: 24px;
    gap: 40px;
  }
}
.inner__grid-stock {
  display: flex;
  width: 100%;
  margin-top: 0;
  gap: 0;
  max-width: 100%;
}
.inner__item-side-left {
  max-width: 504px;
  width: 100%;
  flex-shrink: 0;
  @media (width <= 1600px) {
    max-width: 440px;
  }
}
.inner__item-center {
  width: 100%;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
.inner__item-side-right {
  max-width: 491px;
  width: 100%;
  flex-shrink: 0;
  @media (width <= 1600px) {
    max-width: 400px;
  }
}
.inner__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (width <= 1450px) {
    gap: 16px;
  }
}
.inner__subtitle {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  @media (width <= 1450px) {
    font-size: 42px;
  }
  @media (height <= 900px) {
    font-size: 36px;
  }
  @media (width <= 992px) {
    font-size: 28px;
  }

  &.inner__subtitle-stock {
    font-size: 30px;
    padding: 34px 0;
    @media (width <= 1600px) {
      padding: 20px 0;
    }
  }
}
.inner__footer {
  font-size: 38px;
  color: var(--color-primary);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-base-white);
  margin-top: auto;
  position: relative;
  @media (width <= 1450px) {
    font-size: 32px;
  }
  @media (height <= 900px) {
    font-size: 32px;
  }
  @media (width <= 992px) {
    font-size: 24px;
  }
}
.inner__footer-title {
  position: absolute;
  left: -20px;
  padding: 25px 40px 20px 40px;
  bottom: 0px;
  background: #081c69;
  color: white;
  font-size: 30px;
  z-index: 10;
  transform: skewX(-25deg);
  line-height: 1;
}
.inner__footer-title span {
  transform: skewX(25deg);
  display: flex;
}

/* Risk */
.risk {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  @media (width <= 1600px) {
    margin-top: 20px;
  }
}
.risk__table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  margin-top: 40px;
  @media (width <= 1600px) {
    margin-top: 20px;
  }
  &.risk__table-without--header {
    margin-top: 20px;
  }
}
.risk__header {
  display: flex;
  justify-content: space-between;
  padding-left: 74px;
  padding-bottom: 8px;
}
.risk__header-solid {
  display: flex;
  gap: 24px;
  width: 237px;
}
.risk__header-title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 1px solid #5b5b5b;
  padding: 8px 16px;
  &.risk__header-title--first {
    padding-left: 60px;
  }
}
.risk__cell {
  padding: 25px 16px;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px solid #5b5b5b;
  @media (width <= 1600px) {
    font-size: 32px;
    padding: 16px;
  }
}
/* Team */
.team {
  display: flex;
  align-items: center;
  gap: 8px;
}
.team__num {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width <= 1600px) {
    width: 40px;
    height: 40px;
  }
}
.risk__num {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  padding: 8px 4px 2px 2px;
  border-radius: 8px;
  @media (width <= 1600px) {
    font-size: 32px;
  }
  &.risk__num-green {
    background-color: #2b6821;
    color: white;
  }
  &.risk__num-yellow {
    background-color: #e8b931;
    color: #212121;
  }
  &.risk__num-red {
    background-color: #c00f0c;
    color: white;
  }
}
.team__name {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  @media (width <= 1600px) {
    font-size: 32px;
  }
}

/* Price */
.price__item {
  display: flex;
  align-items: center;
  border-top: 1px solid #5b5b5b;
  border-radius: 0;
  padding: 25px 0;
  height: 110px;
  @media (width <= 1600px) {
    height: 80px;
  }

  &.price__item-stock {
    padding: 25px 16px;
    height: 110px;
    @media (width <= 1600px) {
      height: 80px;
    }
    @media (height <= 900px) {
      height: 80px;
    }
  }

  &.price__item-market {
    padding: 25px 16px;
    height: 110px;
    @media (width <= 1600px) {
      height: 80px;
    }
    @media (height <= 900px) {
      height: 80px;
    }
  }
}
.price__num {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  padding-top: 6px;
  line-height: 20px;
  font-weight: 700;
  flex-shrink: 0;
  @media (height <= 1450px) {
    width: 40px;
    height: 40px;
    font-size: 28px;
  }
}
.price__name {
  line-height: 1;
  &.price__name-large {
    font-size: 36px;
    font-weight: 700;
    @media (width <= 1450px) {
      font-size: 28px;
    }
  }
  &.price__name-stock {
    font-weight: 600;
  }
}
.price__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  @media (width <= 1450px) {
    width: 40px;
    height: 40px;
    img {
      display: flex;
      max-width: 50px;
      width: 100%;
      height: auto;
    }
  }
}
.price__value {
  margin-left: auto;
  &.price__value-large {
    font-size: 40px;
    @media (width <= 1450px) {
      font-size: 28px;
    }
  }
}
.price__icon {
  width: 40px;
  flex-shrink: 0;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  @media (width <= 1450px) {
    width: 20px;
  }
  @media (height <= 900px) {
    width: 20px;
  }
}
.portfolio__price {
  margin-left: auto;
}

/* Leaderboard */
.leaderboard__grid {
  display: flex;
  margin: 0 auto;
  max-width: 1230px;
  margin-top: 30px;
  justify-content: space-between;
}
.leaderboard__item-left {
  max-width: 600px;
  width: 100%;
}
.leaderboard__item-right {
  max-width: 460px;
  width: 100%;
}
/* Stock Page */
.legend {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}
.legend__item {
  display: flex;
  align-items: center;
  gap: 11px;
}
.legend__item-marker {
  width: 40px;
  height: 24px;
  border-radius: 16px;
  display: flex;
  flex-shrink: 0;
}
.legend__item-text {
  font-size: 20px;
  font-weight: 600;
}
