* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiko", serif;
}

:root {
  --color-bg: #212121;
  --color-blue-500: #003b78;
  --color-blue-600: rgba(0, 59, 120, 0.5);
  --color-blue-700: #081c69;
  --color-blue-accent: #08f;
  --color-red-400: #eb3642;
  --color-red-accent: #ff383c;
  --color-red-500: #ff4340;
  --color-red-600: #e92508;
  --color-red-700: rgba(235, 54, 66, 0.3);
  --color-error: #ec221f;
  --color-cyan: #00c0e8;
  --color-orange: #ff8d28;
  --color-violet: #a31287;
  --color-success: #14ae5c;
  --color-green-600: #309e1e;
  --color-grey: #767676;
  --color-lightgrey: #e0e0e0;
  --color-yellow: #fc0;
}

/* Globa Styles */
body {
  background: var(--color-bg);
  position: relative;
}
p {
  color: white;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  &:disabled {
    opacity: 0.5;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.text-green {
  color: var(--color-success);
}
.text-red {
  color: var(--color-error) !important;
}
.text-cyan {
  color: var(--color-cyan);
}
.text-orange {
  color: var(--color-orange);
}
.bg-grey {
  background: var(--color-grey);
}
.bg-cyan {
  background: var(--color-cyan);
}
.bg-violet {
  background: var(--color-violet);
}
.bg-green {
  background: var(--color-success);
}
.bg-orange {
  background: var(--color-orange);
}
.bg-blue {
  background: var(--color-blue-500);
}
.bg-blue-accent {
  background: var(--color-blue-accent);
}
.bg-lightgrey {
  background: var(--color-lightgrey);
}
.bg-yellow {
  background: var(--color-yellow);
}
.bg-red-accent {
  background: var(--color-red-accent);
}
.bg-green-600 {
  background: var(--color-green-600);
}
.bg-red-600 {
  background: var(--color-red-600);
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.pb-200 {
  padding-bottom: 200px;
}
.space-y-8 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  &.with-image-bg {
    background: url("../images/central-title-bg.png") center / cover no-repeat;
  }
}
.btn {
  font-weight: 700;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 32px;
  line-height: 1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  flex-shrink: 0;
}
.btn-primary {
  color: white;
  background: var(--color-blue-500);
}
.btn-secondary {
  border: 3px solid var(--color-blue-500);
  background: var(--color-bg);
  color: white;
}
.btn-disabled {
  opacity: 0.5;
}
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* Mobile Menu */
.mobile__menu-wrapper {
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.mobile__menu-wrapper.open {
  visibility: visible;
  opacity: 1;
}
.mobile__menu {
  background: var(--color-bg);
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}
.mobile__menu-wrapper.open .mobile__menu {
  transform: translateX(0);
}
.mobile__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.mobile__menu-wrapper.open .mobile__overlay {
  opacity: 1;
}
.mobile__menu-list--item {
  border-bottom: 1px solid rgba(91, 91, 91, 1);
  padding: 24px;
  button {
    background: transparent;
    border: none;
    margin-left: auto;
    max-width: fit-content;
    display: flex;
  }
}
.mobile__menu-link {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
body.menu-open {
  overflow: hidden;
}

/* Footer Nav */
.footer__nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 0;
}
.footer__nav-btn {
  margin: 0 auto;
}
.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nav__item {
  padding: 16px 8px 8px;
  background-color: black;
  text-decoration: none;
  &.active {
    background: var(--color-blue-500);
  }
}
.nav__item-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: fit-content;
  margin: 0 auto;
  gap: 8px;
  position: relative;
}
.nav__icon {
  height: 20px;
}
.nav__text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.nav__notification {
  position: absolute;
  right: -4px;
  top: -10px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  &.with-red-circle {
    span {
      background: #c00f0c;
    }
  }
  span {
    line-height: none;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    padding-left: 1px;
  }
}

/* Reusable Styles */
.section__title {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 26px 0;
}
.price__item {
  display: flex;
  align-items: center;
  border-top: 1px solid #5b5b5b;
  border-radius: 0;
  padding: 16px;

  &:last-child {
    border-bottom: 1px solid #5b5b5b;
  }
}
.price__num {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  padding-top: 6px;
  line-height: 20px;
  font-weight: 700;
  flex-shrink: 0;
  @media (height <= 1450px) {
    width: 40px;
    height: 40px;
    font-size: 28px;
  }
}
.price__name {
  line-height: 1;
  margin-left: 12px;
  font-size: 24px;
}
.price__logo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  img {
    display: flex;
    max-width: 40px;
    width: 100%;
    height: auto;
  }
}
.price__value {
  margin-left: auto;
  font-size: 26px;
  font-weight: 700;
}
.price__icon {
  width: 28px;
  margin-left: 12px;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  @media (width <= 1450px) {
    width: 20px;
  }
  @media (height <= 900px) {
    width: 20px;
  }
}
.price__order {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.price__order .price__name {
  margin-left: 0;
}

/* Back Block */
.back {
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: black;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}
.back__text {
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-left: -40px;
}

/* Black List */
.black__list {
  width: 100%;
}
.black__list-item {
  padding: 10px;
  background: #0c0c0c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 2px;
}
.black__list-text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Inner */
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  max-height: 100dvh;
  padding: 0 24px;
}
.content__item {
  padding: 16px;
  border: 1px solid var(--color-mid-grey);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.content__subtitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-base-white);
}
.input {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-grow: 1;
  border: 1px solid var(--color-mid-grey);
  background: var(--color-base-white);
  padding: 0 10px;
  font-size: 24px;
  text-align: right;
}

/* Header */
.header {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: black;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  justify-content: space-between;
}
.time {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  font-weight: 700;
}
.balance {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.balance__total {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (width >= 420px) {
    font-size: 38px;
  }
}
.balance__cash {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  span {
    color: var(--color-success);
  }
}
.burger__btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* ========================= Styles ==================================== */
/* Hero + */
.home {
  background: url("../images/central-title-bg.png") center / cover no-repeat;
  min-height: 100dvh;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.hero__image {
  max-width: 326px;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.hero__text {
  text-align: center;
  text-wrap: balance;
  color: white;
  font-size: 28px;
  font-weight: 700;
}
.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Help + */
.help__content {
  padding: 20px 24px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.help__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.help__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.help__btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

/* QR + */
.qr {
  padding: 10px;
  background: #0c0c0c;
  margin: 16px;
  border-radius: 4px;
}
.qr__text {
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.qr__code {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
}
.qr__btn {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Scan + */
.scan {
  padding: 12px 16px;
  background: #0c0c0c;
  margin: 16px;
  border-radius: 4px;
}
.scan__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.scan__btn {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Team + */
.team {
  display: flex;
  flex-direction: column;
  height: auto;
}
.team__list {
  display: flex;
  flex-grow: 1;
  height: auto;
  flex-direction: column;
}
.team__list-item {
  padding: 12px 16px;
  border-top: 1px solid #5b5b5b;
  border-bottom: 1px solid #5b5b5b;
  display: flex;
  align-items: center;
  gap: 16px;
}
.team__list-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  &.team__list-item-green {
    color: #309e1e;
  }
  &.team__list-item-red {
    color: #e92508;
  }
}
.team__list-item-text {
  font-size: 20px;
  line-height: 120%;
}
.team__title {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.team__title-num {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 32px;
  padding-top: 5px;
  &.team__title-num--green {
    background: #309e1e;
  }
  &.team__title-num--red {
    background: #e92508;
  }
}
.team__btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Portfolio */
.table-wrapper {
  padding-bottom: 32px;
}
table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
tr {
}
th {
  padding: 12px 16px;
  color: white;
  border-bottom: 1px solid #5b5b5b;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
td {
  padding: 12px 16px;
  border-bottom: 1px solid #5b5b5b;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.price__cell {
  display: flex;
  align-items: center;
  gap: 8px;
}
.price__cell-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.price__cell-price {
  font-weight: 400;
}
.footer__cell {
  padding: 30px 16px;
}

/* Role + */
.role {
  padding: 20px 24px;
  margin-top: 24px;
}
.role__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: white;
}
.role__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-top: 24px;
}
.role__btn {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

/* Article + */
.article__content {
  padding: 20px 24px;
  margin-top: 20px;
}
.article__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.article__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: white;
}
.article__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-top: 24px;
}
.article__btn {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

/* News + */
.news__list-item {
  padding: 12px 16px;
  border-top: 1px solid #5b5b5b;
  border-bottom: 1px solid #5b5b5b;
  display: flex;
  align-items: center;
  gap: 16px;
}
.news__link {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;

  padding-left: 24px;
  position: relative;

  &.inactive {
    color: #d6d6d6;
    span {
      background: rgba(235, 54, 66, 0.3);
    }
  }
  span {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    left: 0;
    top: 16px;
    background: #eb3642;
    flex-shrink: 0;
  }
}
.news__text {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.news__tag {
  margin-top: 8px;
  padding: 6px 8px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  border: 2px solid #00a886;
  text-decoration: none;
  max-width: fit-content;
}

/* Trade */
.trade {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
.trade__text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Score */
.score__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score__name {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  span {
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
  }
}
.score__info {
  display: flex;
  align-items: center;
  gap: 16px;
  .score__sum {
    width: 64px;
    text-align: right;
  }
}
.score__sum {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.score__rating {
  padding: 6px;
  border-radius: 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: white;
  &.rating-green {
    background: #2b6821;
  }
  &.rating-red {
    background: #c00f0c;
  }
  &.rating-yellow {
    background: #e8b931;
    color: #212121;
  }
}

/* Offer */
.offer {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
}
.offer__btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.offer__form {
  width: 100%;
}
.offer__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.input__group {
  position: relative;
  &.invalid {
    .error__message {
      display: block;
    }
    .input {
      border-color: #ff4340;
    }
  }

  span {
    position: absolute;
    left: 10px;
    top: 42px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #b3b3b3;
    display: block;
  }
}
.input {
  border-radius: 2px;
  border: 1px solid #5b5b5b;
  padding: 10px;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #f3f3f3;
  text-align: right;
  padding-left: 24px;
}
.label {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
  display: block;
}
.error__message {
  margin-top: 4px;
  color: #ff4340;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}
.select__wrapper {
  position: relative;
  .select__selected {
    display: none;
  }
  &.selected {
    .select__placeholder {
      display: none;
    }
    .select__selected {
      display: flex;
    }
  }
}
.select__label {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.select__input {
  display: flex;
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #5b5b5b;
  position: relative;
  height: 70px;
  align-items: center;
}
.select__placeholder {
  color: #e5e5e5;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.select_arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.select__content {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 350px;
  overflow: auto;
  display: none;
}
.select__option {
  display: flex;
  background: #0c0c0c;
  padding: 10px;
  border-radius: 2px;
  align-items: center;
  height: 70px;
  width: 100%;
  &.selected {
    background: transparent;
  }
}
.select__option-icon {
  width: 40px;
  flex-shrink: 0;
}
.select__option-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-left: 10px;
}
.select__option-value {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 16px;
}

.switch {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 184px;
  height: 50px;
  background: black;
  border-radius: 50px;
  padding: 6px;
  outline: none;
}
.switch input {
  display: none;
  outline: none;
}
.switch-label {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  outline: none;
}
.switch-label span {
  flex: 1;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 6px;
}
.switch-slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 20px;
  top: 0%;
  left: 0%;
  transition: 0.3s;
  background: #003b78;
}
.switch input:checked + .switch-label .switch-slider {
  left: 50%;
}
