* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiko", serif;
}

:root {
  --color-bg: #212121;
  --color-blue-500: #003b78;
  --color-blue-600: rgba(0, 59, 120, 0.5);
  --color-blue-700: #081c69;
  --color-blue-accent: #08f;
  --color-red-400: #eb3642;
  --color-red-accent: #ff383c;
  --color-red-500: #ff4340;
  --color-red-600: #e92508;
  --color-red-700: rgba(235, 54, 66, 0.3);
  --color-error: #ec221f;
  --color-cyan: #00c0e8;
  --color-orange: #ff8d28;
  --color-violet: #a31287;
  --color-success: #14ae5c;
  --color-green-600: #309e1e;
  --color-grey: #767676;
  --color-lightgrey: #e0e0e0;
  --color-yellow: #fc0;
}

/* Globa Styles */
body {
  background: var(--color-bg);
}
p {
  color: white;
}
.bg-grey {
  background: var(--color-grey);
}
.bg-cyan {
  background: var(--color-cyan);
}
.bg-violet {
  background: var(--color-violet);
}
.bg-green {
  background: var(--color-success);
}
.bg-orange {
  background: var(--color-orange);
}
.bg-blue {
  background: var(--color-blue-500);
}
.bg-blue-accent {
  background: var(--color-blue-accent);
}
.bg-lightgrey {
  background: var(--color-lightgrey);
}
.bg-yellow {
  background: var(--color-yellow);
}
.bg-red-accent {
  background: var(--color-red-accent);
}
.bg-green-600 {
  background: var(--color-green-600);
}
.bg-red-600 {
  background: var(--color-red-600);
}
.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.btn {
  font-weight: 700;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 32px;
  line-height: 1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}
.btn-primary {
  color: white;
  background: var(--color-blue-500);
}
.btn-secondary {
  border: 3px solid var(--color-blue-500);
  background: var(--color-bg);
  color: white;
}

/* Reusable Styles */
.price__icon {
  width: 20px;
  img {
    width: 20px;
  }
}
.price__value {
  margin-left: auto;
}

/* Back Block */
.back {
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: black;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}
.back__text {
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-left: -40px;
}

/* Inner */
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  max-height: 100dvh;
  padding: 0 24px;
}
.content__item {
  padding: 16px;
  border: 1px solid var(--color-mid-grey);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.content__subtitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-base-white);
}
.input {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-grow: 1;
  border: 1px solid var(--color-mid-grey);
  background: var(--color-base-white);
  padding: 0 10px;
  font-size: 24px;
  text-align: right;
}

/* ========================= Styles ==================================== */
/* Hero + */
.home {
  background: url("../images/central-title-bg.png") center/cover no-repeat;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.hero__image {
  max-width: 326px;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.hero__text {
  text-align: center;
  text-wrap: balance;
  color: white;
  font-size: 28px;
  font-weight: 700;
}
.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Offer */
.offer {
  padding: 12px 16px;
  background: var(--color-base-white-80);
  border: 1px solid var(--color-mid-grey);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offer__text {
  font-size: 24px;
  display: flex;
  gap: 8px;
  color: var(--color-primary);
}

/* Help + */
.help__content {
  padding: 20px 24px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.help__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.help__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.help__btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

/* QR + */
.qr {
  padding: 10px;
  background: #0c0c0c;
  margin: 16px;
  border-radius: 4px;
}
.qr__text {
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.qr__code {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
}
.qr__btn {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Scan + */
.scan {
  padding: 12px 16px;
  background: #0c0c0c;
  margin: 16px;
  border-radius: 4px;
}
.scan__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.scan__btn {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Team + */
.team {
  display: flex;
  flex-direction: column;
  height: auto;
}
.team__list {
  display: flex;
  flex-grow: 1;
  height: auto;
  flex-direction: column;
}
.team__list-item {
  padding: 12px 16px;
  border-top: 1px solid #5b5b5b;
  border-bottom: 1px solid #5b5b5b;
  display: flex;
  align-items: center;
  gap: 16px;
}
.team__list-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__list-item-text {
  font-size: 20px;
  line-height: 120%;
}
.team__title {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.team__title-num {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 32px;
  padding-top: 5px;
}
.team__btn {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Role + */
.role {
  padding: 20px 24px;
  margin-top: 24px;
}
.role__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: white;
}
.role__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-top: 24px;
}
.role__btn {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

/* Article + */
.article__content {
  padding: 20px 24px;
  margin-top: 20px;
}
.article__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.article__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: white;
}
.article__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-top: 24px;
}
.article__btn {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

/* Start Text */
.start__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Buttons Grid */
.buttons__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* Qr Code  */
.qr__code {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

/* News Info */
.news__info {
  padding: 13px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Table */
.table__wrapper {
  overflow: auto;
}
.table {
  border-collapse: collapse;
}
.table__head {
  font-size: 16px;
  color: var(--color-mid-grey);
  padding: 12px 16px;
}
.table__cell {
  color: var(--color-base-white);
  padding: 12px 16px;
}
.table__row:not(:last-child) {
  border-bottom: 1px solid var(--color-base-white);
}
.cash__cell {
  padding: 24px 16px;
}
.table__total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: auto;
}
.table__total-text {
  font-size: 24px;
  font-weight: 700;
  padding: 12px 16px;
  color: var(--color-base-white);
}
.table__total-value {
  font-size: 24px;
  font-weight: 700;
  padding: 12px 16px;
  border-top: 1px solid var(--color-base-white);
  text-align: right;
  color: var(--color-base-white);
}

/* Offer Form */
.offer__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.offer__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--color-mid-grey);
  background: var(--color-base-white-80);
  align-items: center;
}
.offer__text {
  display: flex;
  flex-shrink: 0;
}
.offer__right {
  display: flex;
  justify-content: end;
  text-align: right;
}
.switch {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 147px;
  height: 38px;
  background: var(--color-mid-grey);
  border-radius: 50px;
}
.switch input {
  display: none;
}
.switch-label {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}
.switch-label span {
  flex: 1;
  text-align: center;
  line-height: 40px;
  z-index: 2;
}
.switch-slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 20px;
  top: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px 0px #fff inset,
    0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;

  transition: 0.3s;
}
.switch input:checked + .switch-label .switch-slider {
  left: 50%;
}
