* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiko", serif;
}

:root {
  --color-bg: #212121;
  --color-blue-500: #003b78;
  --color-blue-600: rgba(0, 59, 120, 0.5);
  --color-blue-700: #081c69;
  --color-blue-accent: #08f;
  --color-red-400: #eb3642;
  --color-red-accent: #ff383c;
  --color-red-500: #ff4340;
  --color-red-700: rgba(235, 54, 66, 0.3);
  --color-error: #ec221f;
  --color-cyan: #00c0e8;
  --color-orange: #ff8d28;
  --color-violet: #a31287;
  --color-success: #14ae5c;
  --color-grey: #767676;
  --color-lightgrey: #e0e0e0;
  --color-yellow: #fc0;
}

/* Globa Styles */
body {
  background: var(--color-bg);
}
.wrapper {
  max-width: 736px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-primary);
  padding: 16px;
  border-radius: 16px;
  background: var(--color-base-white);
  box-shadow: 0px 4px 4px 0px #fff inset,
    0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border: none;
}
.btn.disabled {
  background: var(--color-base-white-80);
  color: var(--color-mid-grey);
  box-shadow: none;
}
.btn__warning {
  box-shadow: 0px 4px 4px 0px #fff inset,
    0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background: var(--color-bad-red);
  color: var(--color-base-white);
}
.text {
  font-size: 24px;
  color: var(--color-base-white);
  font-weight: 700;
}
.text-sm {
  font-size: 16px;
}
.text-center {
  text-align: center;
}
.font-normal {
  font-weight: 400;
}
.space-y-4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.bg-blue {
  background: var(--gradient-blue);
}
.bg-green {
  background: var(--gradient-green);
}
.text-transparrent {
  color: var(--color-base-white-80) !important;
  font-weight: 400 !important;
}

/* Reusable Styles */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list__item {
  display: flex;
  background: var(--color-base-white-80);
  border-radius: 16px;
  border: 1px solid var(--color-mid-grey);
  padding: 12px 14px;
  gap: 12px;
  align-items: center;
  height: 47px;

  p {
    font-size: 16px;
    color: var(--color-primary);
  }
}
.circle-blue {
  background: var(--color-circle-blue);
}
.circle-green {
  background: var(--color-circle-green);
}
.circle-red {
  background: var(--color-circle-red);
}
.list__circle {
  width: 21px;
  height: 21px;
  border-radius: 100%;
  border: 2px solid var(--color-base-white);
}
.price__icon {
  width: 20px;
  img {
    width: 20px;
  }
}
.price__value {
  margin-left: auto;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding: 8px 16px;
}
.action__btn {
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  padding: 6px 14px;
  border-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  border: 2px solid var(--color-light-blue);
  img {
    width: 16px;
  }
}
.time {
  font-size: 24px;
  color: var(--color-light-blue);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  min-height: 100dvh;
}
.content__item {
  padding: 16px;
  border: 1px solid var(--color-mid-grey);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.content__subtitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-base-white);
}
.input {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-grow: 1;
  border: 1px solid var(--color-mid-grey);
  background: var(--color-base-white);
  padding: 0 10px;
  font-size: 24px;
  text-align: right;
}

/* ========================= Styles ==================================== */
/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/central-title-bg.png") center/cover no-repeat;
}
.hero__image {
  max-width: 326px;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.hero__text {
  text-align: center;
  text-wrap: balance;
}
/* Offer */
.offer {
  padding: 12px 16px;
  background: var(--color-base-white-80);
  border: 1px solid var(--color-mid-grey);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offer__text {
  font-size: 24px;
  display: flex;
  gap: 8px;
  color: var(--color-primary);
}

/* News */
.news__list {
  list-style: disc;
  padding-left: 24px;
  color: var(--color-base-white);
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.news__link {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  color: var(--color-base-white);
  display: -webkit-box;
  font-weight: 700;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* Team */
.team__item {
  padding: 12px 16px;
  img {
    width: 20px;
  }
}
.team__price {
  margin-left: auto;
}
.info {
  padding: 12px 16px;
  background: var(--color-base-white-80);
  border-radius: 16px;
  border: 1px solid var(--color-mid-grey);
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info__item {
  display: flex;
  justify-content: space-between;
}
.info__text {
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 400;
}

/* Start Text */
.start__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Buttons Grid */
.buttons__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* Qr Code  */
.qr__code {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
/* News Info */
.news__info {
  padding: 13px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Table */
.table__wrapper {
  overflow: auto;
}
.table {
  border-collapse: collapse;
}
.table__head {
  font-size: 16px;
  color: var(--color-mid-grey);
  padding: 12px 16px;
}
.table__cell {
  color: var(--color-base-white);
  padding: 12px 16px;
}
.table__row:not(:last-child) {
  border-bottom: 1px solid var(--color-base-white);
}
.cash__cell {
  padding: 24px 16px;
}

.table__total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: auto;
}
.table__total-text {
  font-size: 24px;
  font-weight: 700;
  padding: 12px 16px;
  color: var(--color-base-white);
}
.table__total-value {
  font-size: 24px;
  font-weight: 700;
  padding: 12px 16px;
  border-top: 1px solid var(--color-base-white);
  text-align: right;
  color: var(--color-base-white);
}

/* Offer Form */
.offer__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.offer__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--color-mid-grey);
  background: var(--color-base-white-80);
  align-items: center;
}
.offer__text {
  display: flex;
  flex-shrink: 0;
}

.offer__right {
  display: flex;
  justify-content: end;
  text-align: right;
}

.switch {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 147px;
  height: 38px;
  background: var(--color-mid-grey);
  border-radius: 50px;
}

.switch input {
  display: none;
}

.switch-label {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.switch-label span {
  flex: 1;
  text-align: center;
  line-height: 40px;
  z-index: 2;
}

.switch-slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 20px;
  top: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px 0px #fff inset,
    0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;

  transition: 0.3s;
}

.switch input:checked + .switch-label .switch-slider {
  left: 50%;
}
